
.darken-grey-text {
    color: #2E2E2E;
}
.fa-icon{
    font-size: 20px;
    transition: .4s all ease-in;
}
.fa-icon:hover{
    transform: scale(1.3);
}
.fb:hover{
    color: #3b5998;
}
.gp:hover{
    color: #dd4b39;
}
.google:hover{
    color: #4285f4;
}
.github:hover{
    color: rgb(92, 90, 90);
}